@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('TrueType');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Regular';

}

body {
    height: 100vh;
    background-color: #232643;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.sign-up {
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sign-up>section:nth-child(1)>h1 {
    /* text-align: center; */
    color: #232643;
    font-size: 3.3rem;
}

.sign-up>section:nth-child(1)>* {
    margin-bottom: 10px;
    text-align: justify;
}

.sign-up>section:nth-child(1)>p {
    color: #232643;
    font-size: 1rem;
    margin-bottom: 40px;
}

.sign-up>section:nth-child(1)>ul {
    list-style: none;
    margin-bottom: 50px;
}

.sign-up>section:nth-child(1)>ul>li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    color: #232643;

}

.sign-up>section:nth-child(1)>form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #232643;
}

.sign-up>section:nth-child(1)>form>div {
    display: flex;
    justify-content: space-between;
}

#validation {
    color: #eb1919;
}

.sign-up>section:nth-child(1)>form>input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #232643;
}

.sign-up>section:nth-child(1)>form>input[type="text"] {
    padding: 13px;
    outline: none;
    border: 2px solid rgb(164, 162, 162);
    border-radius: 8px;
    cursor: pointer;
}

.sign-up>section:nth-child(1)>form>button[type="submit"] {
    position: relative;
    padding: 1rem;
    font-size: 1rem;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(90deg, #232643 0%, #232643 79%);
    color: white;
    border: 3px;
    cursor: pointer;
    transition: all 0.5s;

}

.sign-up>section:nth-child(1)>form>button[type="submit"]:hover {
    background: linear-gradient(90deg, rgba(238, 32, 143, 1) 0%, rgba(249, 178, 54, 1) 79%);
    box-shadow: 0 5px 15px rgba(238, 32, 143, 1);
}


.sign-up>section:nth-child(2)>img:nth-child(2) {
    display: none;
}


@media (max-width: 992px) {
    .sign-up {
        align-items: normal;
        padding: 0;
        flex-direction: column-reverse;
    }

    .sign-up>section:nth-child(1) {
        padding: 1rem;
    }

    .sign-up>section:nth-child(1)>* {
        text-align: unset;
    }

    .sign-up>section:nth-child(2)>img:nth-child(1) {
        display: none;
    }

    .sign-up>section:nth-child(2)>img:nth-child(2) {
        display: block;
        width: 100%;
    }
}